// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: cover ;
        mask-position: 100% 100%;
        mask-repeat: no-repeat;
        background: black;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="custom-icon1"] {
        mask-image: url(../assets/imgs/Accueil.svg);
    }
    &[class*="custom-icon2"] {
        mask-image: url(../assets/imgs/Ajout.png);
    }
    &[class*="custom-icon3"] {
        mask-image: url(../assets/imgs/Conversation.png);
    }
    &[class*="custom-icon4"] {
        mask-image: url(../assets/imgs/Profil.png);
    }
    &[class*="custom-icon1a"] {
        mask-image: url(../assets/img/customicon3.svg);
    }
    &[class*="custom-icon2a"] {
        mask-image: url(../assets/img/customicon3.svg);
    }
    &[class*="custom-icon3a"] {
        mask-image: url(../assets/img/customicon3.svg);
    }
}